<div class="container">
  <img src="./assets/images/sunday.png" />
  <div class="text">
    <div class="title">
      <h1>Svētdiena</h1>
      <h2>Atpūta ... beidzas?</h2>
    </div>
    <div class="desc">
      <p>
        Katram LU DF studentam pienāk atklāsmes mirklis, kad students saprot, ka
        atūpu laiks jau ir gandrīz galā un drīz būs atkal vistrakakākais sākums
        studenta nedēļā. Saprašana, ka visa šī studenta dzīve ir viens milzīgs
        cikls, kas jāizpilda katru dienu, katru nedēļu, katru mēnesi, kamēr vien
        šis cilvēks staigā ar studenta titulu. Šī atklāsme vēl nav viss, lielai
        daļai studentu sakrājušies mājasdarbi arī ir jāizpilda, jo, protams,
        sestdiena nekāda mācīšanās nedrīkst notikt. Tāpēc Svētdienas tiek
        pavadītas ar atlikušo atpūtas kripatiņu un skatu atpakaļ uz studijām.
        Vai cik skarbi tas var LU DF studenta likties, katrs students saprot, ka
        tā ir un nekadīgi nekas cits nekad nevarētu būt. Skeptiski par
        pašreizējo situāciju, students ar paceltu uzaci vēl joprojām plāno, ko
        iesākt ar mājasdarbiem, jo, protams, pēc studenta uzskatiem vēl ir
        brīvdiena - kāpēc, lai students nodarbotos ar darba lietām?
      </p>
    </div>
  </div>
</div>
