<div class="container">
  <img src="./assets/images/monday.png" />
  <div class="title">
    <h1>Pirmdiena ir grūta</h1>
    <h2>Tāpēc nemēģināsim daudz censties...</h2>
  </div>
  <div class="desc">
    <p>
      Vārds "Pirmdiena" rezonē LU DF studentos vissliktākās ar nedēļas dienām
      saistītās emocijas. Tik tiešām, šī diena triumfē kā nedēļas sliktākā
      diena.
    </p>
    <p>
      Iemeslu šīm negatīvajām asociācijām ar Pirmdienu pētnieki ir meklējuši
      labu laiku, un tikai pēdējos gados ir izvirzīti pamatoti un loģiski
      iemesli kāpec tas tā varētu būt. Vienā pētijumā tika lēsts, ka jāvaino
      nevieglā pārslēgšanās no atpūtas uz darba režīmu. Jāceļās pirmdienā no
      rīta ir agrāk nekā brīvdienās, kā rezultātā cilvēkiem, kas viena un tajā
      pašā laikā iepriekšējā dienā aizgāja gulēt sanāk daudz mazāk izgulēties
      nekā tas būtu sanācis brīvdienās. Kā arī studentiem ir pašuzspiesta garīga
      slodze, kas parādās tāpēc, ka zemapziņā LU DF studentiem jau ir
      ieprogrammēta nepatika pret darba uzsākšanu pēc atpūtas.
    </p>
  </div>
</div>
