<mat-nav-list>
  <a mat-list-item routerLink="/1" (click)="onSidenavClose()">
    <span class="nav-caption">Pirmdiena</span>
  </a>
  <a mat-list-item routerLink="/2" (click)="onSidenavClose()">
    <span class="nav-caption">Otrdiena</span>
  </a>
  <a mat-list-item routerLink="/3" (click)="onSidenavClose()">
    <span class="nav-caption">Trešdiena</span>
  </a>
  <a mat-list-item routerLink="/3" (click)="onSidenavClose()">
    <span class="nav-caption">Ceturtdiena</span>
  </a>
  <a mat-list-item routerLink="/3" (click)="onSidenavClose()">
    <span class="nav-caption">Piektdiena</span>
  </a>
  <a mat-list-item routerLink="/3" (click)="onSidenavClose()">
    <span class="nav-caption">Sestdiena</span>
  </a>
  <a mat-list-item routerLink="/3" (click)="onSidenavClose()">
    <span class="nav-caption">Svētdiena</span>
  </a>
</mat-nav-list>
