<mat-nav-list>
  <a mat-list-item routerLink="/1" (click)="onSidenavClose()">
    <span class="nav-caption">{{ "DAYS.ONE" | translate }}</span>
  </a>
  <a mat-list-item routerLink="/2" (click)="onSidenavClose()">
    <span class="nav-caption">{{ "DAYS.TWO" | translate }}</span>
  </a>
  <a mat-list-item routerLink="/3" (click)="onSidenavClose()">
    <span class="nav-caption">{{ "DAYS.THREE" | translate }}</span>
  </a>
  <a mat-list-item routerLink="/4" (click)="onSidenavClose()">
    <span class="nav-caption">{{ "DAYS.FOUR" | translate }}</span>
  </a>
  <a mat-list-item routerLink="/5" (click)="onSidenavClose()">
    <span class="nav-caption">{{ "DAYS.FIVE" | translate }}</span>
  </a>
  <a mat-list-item routerLink="/6" (click)="onSidenavClose()">
    <span class="nav-caption">{{ "DAYS.SIX" | translate }}</span>
  </a>
  <a mat-list-item routerLink="/7" (click)="onSidenavClose()">
    <span class="nav-caption">{{ "DAYS.SEVEN" | translate }}</span>
  </a>
</mat-nav-list>
