<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <div class="mini">
        <span style="text-align: center; font-size: .7em;">
          {{ "MADEBY.TEXT" | translate }}
        </span>
        <label for="">
          <select #langselect (change)="translate.use(langselect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang">
              {{ lang }}</option
            >
          </select>
        </label>
      </div>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
