<div class="container">
  <img src="./assets/images/wednesday.png" />
  <div class="title">
    <h1>Trešdienā harmonija</h1>
  </div>
  <div class="desc">
    <p>
      Izrādās, ka LU DF studenti ir spējīgi no dzīvošanas vai izdzīvošanas
      izvēles izvēlēties cienīgāko variantu, kas ir dzīvot. Pārmērīgais
      vairākums vismaz to izvēle ir veikuši, kamēr pārējie ir atkrituši. Šie
      atkritušie studenti vairs nav vērības vērti, tāpēc viņus vairs pat
      nepieskaita pie studentu kopas. Ja Otrdienā pamodās specīgie, tad Trešdien
      pamodās visi pārējie. Datorikas fakultātes studentu asinīs ir vēlu un
      pavirši uzsāakt darbu, bet to tālāk veikt rūpīgi un pa 100%.
    </p>
  </div>
</div>
