<div class="container">
  <img src="./assets/images/wednesday.png" />
  <div class="title">
    <h1>Trešdienā harmonija</h1>
  </div>
  <div class="desc">
    <p>
      Izrādās, ka LU DF studenti ir spējīgi no dzīvošanas vai izdzīvošanas
      izvēles izvēlēties cienīgāko variantu, kas ir dzīvot. Pārmērīgais
      vairākums vismaz to izvēli ir veikuši, kamēr pārējie ir atkrituši. Šie
      atkritušie studenti vairs nav vērības vērti, tāpēc viņus vairs pat
      nepieskaita pie studentu kopas. Ja Otrdienā pamodās specīgie, tad Trešdien
      pamodās visi pārējie. Datorikas fakultātes studentu asinīs ir vēlu un
      pavirši uzsākt darbu, bet to tālāk veikt rūpīgi un pa 100%. Trešdiena ir
      diena, kad ši paviršība un laiskums ir jau atmests, notiek nopietns un
      korekts mācību process. Interesanti tas, ka šī mentalitāte rezonē vairākos
      studentos, visi strādā kopā kā zem viena valdoša mākslīgā intelekta.
      Trešdiena ir burvīga diena LU DF studentu izaugsmē.
    </p>
  </div>
</div>
