<div class="container">
  <img src="./assets/images/tuesday.png" />
  <div class="title">
    <h1>Otrdiena ir atmodas sākums</h1>
  </div>
  <div class="desc">
    <p>
      Otrdiena ir diena, kas seko pēc visiem LU DF studentu ienīstās Pirmdienas.
      Šī diena ir atmodas laiks studentiem, kuri izdzīvoja skarbo pirmdienu un
      ar savu gribasspēku spēj turpināt studenta dzīvi. Toties pārējie, tie, kas
      vēl no pirmdienas nav atkopušies, tas ir, nav no grūtas situācijas raduši
      pieradumu šādos apstākļos izdzīvot, Otrdienā vēl joprojām ir tik izmocīta
      un sagrauti kā pirmdienā. Izcilie šajā dienā izceļas ar savu spēku, kamēr
      vājie kristdami un klupdami cenšas pardzīvot Otrdienas izaicinājumus. Aug
      tikai spēcīgie, un no spēcīgajiem ne tik spēcīgajiem LU DF studentiem ir
      jāņem paraugs. Dzīvot vai izdzīvot, lūk šadi divi zarojoši ceļi rādās
      studentiem priekšā. Tie, kas izvēlēsies izdzīvot, savu pašreizējo
      situāciju nemainīs, kamēr tie, kas izvēēlesies dzīvot, metamorfozes
      procesā nākošajā dienā kļūs par kārtīgiem un spēcīgiem datorzinātņu
      studentiem.
    </p>
  </div>
</div>
