img {
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  height: 50%;
  width: 50%;
}

.text {
  padding-right: 10px;
  padding-left: 10px;
}

.container {
  position: relative;
  text-align: center;
}

.desc {
  padding-top: 2em;
  margin-right: auto;
  text-align: justify;
}

.title {
  padding-top: 4em;
  margin-right: auto;
  top: 2em;
  left: 2em;
  font-size: 120%;
  text-align: center;
}

.title h1 {
  text-align: center;
  color: lightcyan;
}

.title h2 {
  font-weight: lighter;
  color: lightcyan;
}

@media (max-width: 1130px) {
  .title {
    padding-top: 0;
  }
  .text {
    clear: both;
  }
  .img {
    float: none;
  }
}
