<div class="container">
  <img src="./assets/images/saturday.png" />
  <div class="text">
    <div class="title">
      <h1>Sestdiena</h1>
      <h2>Atpūta ir lieliska</h2>
    </div>
    <div class="desc">
      <p>
        Labu laiku LU DF studentam sagādā sestdiena. Šī diena ir kā ūdēns
        izslāpušam cilvēkiem Sahāras tuksnesī. Celies, kad gribi, dari, ko gribi
        - atpūties vai turpini mācities mājasdarbus. Jebkurš var darīt jebko!
        Brīva brīvība tā vistiešākajā nozīmē. Ko tik var izdarīt un neizdarīt
        šajā dienā. Apzinīgs students jau turpinātu mācīties lietas savā nozarē,
        kas nav apgūtas lekcijās, taču pat tādiem studentiem, kaut vai vīni ir
        tik apzinīgi, ir jāsaprot, ka sestdiena ir svēta brīvdienu diena, kad
        nav nekas jādara. Uzspēlē datorspēli, aizej pastaigāties dabā, dari
        JEBKO, kas nav saistīts ar datorikas profesionālo vai teoretisko daļu.
      </p>
    </div>
  </div>
</div>
