<div class="container">
  <img src="./assets/images/thursday.png" />
  <div class="title">
    <h1>Ceturtdien turpināta atdeve</h1>
  </div>
  <div class="desc">
    <p>
      Par labu laimi studējošo studiju harmonija turpinās. Visu studentu
      emocijas un mērķi ir labi un noteikti. Izaugsme studentus turpinās kā vēl
      jebkad - jaunas zināšanas un darbi tiek ražoti un pilnu 100% zirgaspēku.
      Tas ir, ja studentiem centību varētu izmērīt zirgaspēku, manuprāt,
      pareizāks termins šīs centības izsvēršanai būtu 'studētspēks'. Var
      garantēt ka studētspēks šiem datorikas studentiem ir bezzudumu atdevē -
      centības kalngals. Strāda, studē, strādā, studē, atpūta, kas tas tāds?
      Ceturtdienas terminoloģijas vārdnīca tāda vārda nepastāv. Taču, studenti
      to pamanījūši vai nepamanījuši drīz negribot mainīs savu attieksmi pret
      studētspēka atdevi uz kaut ko daudz niecīgāku kā iepriekš. Ak, šausmas.
      Visi sāk jau nervozēt, jo gaisā plīvo Piektdienas nenopietnā gara pēdas.
    </p>
  </div>
</div>
