<div class="container">
  <img src="./assets/images/friday.png" />
  <div class="title">
    <h1>Piektdienas metamorfoze</h1>
  </div>
  <div class="desc">
    <p>
      Ir beidzot pienākusi tā diena katra datorikas studenta nedēļas dzīvē. Šī
      dienā pilda savu nozīmi kā barjera starp atpūtu un studējošā dzīvi. Katrs
      datorikas students atrodas kādā mo šīs barjeras joslām. <br />
      Aiz tās - šim studentam brīvdienas jau prātā ir klāt, neko citu kā daļēji
      uzspiestu darba dien, ko vajag atstrādāt uz trešdaļu no visas studētspēku,
      šie studenti Piektdienu neredz. <br />
      Tieši barjeras viducī - students apzinās sīs svētās strādnieku dienas
      nozīmi un vērtību, taču spēj vēl savaldīties un veltīt daudz maz vērtīgu
      darbu savām studijām. <br />
      Pirms tās - pārējie studenti šo tipu uzskatītu par savādu, taču šī šķira
      ir visprofesionālākā no visām, to mentāla fortitūde un kontrole pār garīgo
      ir nesamērojama ar pārējiem. Šie studenti nepakļausies nekādām viltībām un
      atpūtas solījumiem, viņi ar godu pabeigs katras kārtējās nedēļas studijas
      tās pēdējā darba dienā ar tādu pašu padevi kā pārējās. Tiešām, izcilnieki.
      <br />
      Bet lai jel kā uz to skatītos, fakts ir tāds, ka šis ir nedēļas studenta
      studējošās dzīves gals un to vajadzētu jebkuram vai nu ar atvieglojumu
      nopūtu vai ar gandarījuma sajūtu par paveikto to nosvinēt.
    </p>
  </div>
</div>
