/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

html {
  height: 100%;
  background-color: #303030;
}

body {
  margin: 0;
  margin-right: 200px;
  margin-left: 200px;
  height: 100%;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1,
h2 {
  font-family: "Carrois Gothic", sans-serif;
}

@media (max-width: 1360px) {
  body {
    margin-right: 0;
    margin-left: 0;
  }
}
